/*
    Created by: Zeinab Nasser
*/

.main-btn, .btn, .btn-flat {
  border-radius: 30px;
  padding: 8px 30px;
  font-size: 15px;
  background-color: #f1d35b;
  color: .main-btn fontColor;
  border: none; }

.transition, .btn, .btn-flat, .slider-show .item .caption, .titles .list-group-item {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

@font-face {
  font-family: 'Cairo-SemiBold';
  src: url("../fonts/Cairo-SemiBold.eot");
  src: url("../fonts/Cairo-SemiBold.woff2") format("woff2"), url("../fonts/Cairo-SemiBold.woff") format("woff"), url("../fonts/Cairo-SemiBold.ttf") format("truetype"), url("../fonts/Cairo-SemiBold.svg#Cairo-SemiBold") format("svg"), url("../fonts/Cairo-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Cairo-SemiBold';
  background-image: url("../images/bg.png");
  -webkit-background-image: url("../images/bg.png");
  -moz-background-image: url("../images/bg.png");
  -o-background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: right calc(100% - 270px);
  min-height: 100vh; }

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

.btn, .btn-flat {
  outline: unset !important; }

.btn:hover,
.btn:focus,
.form-control:hover,
.form-control:focus {
  box-shadow: none;
  outline: unset; }

label {
  color: #464646;
  display: inline;
  font-size: 13px;
  font-weight: normal;
  margin-left: 10px; }

input[type="checkbox"],
input[type="radio"] {
  margin-left: 4px; }

/*header*/
.top-header 
{
  background-color: #29415d;
  color: #fff;
  padding: 10px;
  font-size: 13px; 
}

.top-header ul
{
    margin-bottom: 0; 
}

.top-header ul li
{
      float: right;
      margin-left: 20px; }

      .top-header ul li i {
        margin: 0 5px;
        font-size: 18px; }
  .top-header span {
    float: left;
    font-size: 17px; }
  .top-header .social li {
    margin: 0; }
    .top-header .social li i {
      font-size: 20px; }

.logo {
  padding: 30px 0; }
  .logo .list-inline {
    margin: 0; }
    .logo .list-inline li {
      margin: 0 10px; }

.navbar {
  border-bottom: 1px solid #eee;
  background-color: #4b893f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .navbar .navbar-brand {
    margin-left: 20px !important; }
    .navbar .navbar-brand img {
      display: block;
      overflow: hidden; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #fff; }
  .navbar .navbar-nav li > a {
    font-size: 14px;
    color: #fff; }
    .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:focus {
      background-color: transparent !important; }
    .navbar .navbar-nav li > a img {
      width: 24px; }
    .navbar .navbar-nav li > a i {
      font-size: 20px;
      margin-left: 6px; }
      .navbar .navbar-nav li > a i:hover, .navbar .navbar-nav li > a i:focus {
        background-color: transparent; }
        .navbar .navbar-nav li > a i:hover a, .navbar .navbar-nav li > a i:focus a {
          background-color: transparent; }
    .navbar .navbar-nav li > a li.active {
      background-color: transparent; }
      .navbar .navbar-nav li > a li.active a {
        background-color: transparent; }

footer .about img {
  display: block;
  overflow: hidden; }

.nav .open > .dropdown-menu,
.nav .open {
  background-color: #4b893f; }
  .nav .open > .dropdown-menu a,
  .nav .open a {
    background-color: #4b893f; }
    .nav .open > .dropdown-menu a:hover, .nav .open > .dropdown-menu a:focus,
    .nav .open a:hover,
    .nav .open a:focus {
      background-color: #4b893f; }
.nav .submenu:hover .dropdown-content {
  display: block;
  overflow: hidden; }
.nav .submenu i {
  font-size: 18px;
  margin-left: 6px;
  position: absolute;
  left: 5px; }
.nav li.divider {
  padding: 0; }
.nav .dropdown-menu,
.nav .dropdown-content {
  width: 222px;
  border: 1px solid #eee;
  border-radius: 12px !important;
  background-color: #f4f4f4;
  padding: 0;
  top: 50px;
  color: #fff; }
  .nav .dropdown-menu li > a,
  .nav .dropdown-content li > a {
    color: #fff; }
.nav .dropdown-content {
  position: absolute;
  top: 0;
  right: 220px;
  display: none;
  z-index: 111;
  background-color: #4b893f; }

@media screen and (max-width: 767px) {
  .nav .dropdown-content {
    position: static; } }
.nav .dropdown-menu .divider {
  margin: 0; }

.dropdown-menu > li > a,
.dropdown-content > li > a {
  width: 100%;
  padding: 8px;
  display: block; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-content > li:hover,
.dropdown-content > li:focus {
  background-color: #4b893f;
  color: #fff; }

.dropdown-menu > li:first-child > a,
.dropdown-content > li:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.dropdown-menu > li:last-child > a,
.dropdown-content > li:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }

.latest-news {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #eee;
  height: 50px;
  color: #464646;
  overflow: hidden;
  margin-top: 10px;
  background-color: #f6fff5;
  line-height: 50px; }
  .latest-news h4 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    line-height: 50px;
    color: #4b893f;
    border-left: 1px solid #eee; }

section {
  padding: 15px 0; }
  section h3 {
    border-bottom: 3px solid #4b893f;
    display: inline-block;
    padding: 10px 15px;
    color: #464646;
    position: relative;
    margin-bottom: 20px !important; }
    section h3:after {
      content: '';
      background-color: #29631e;
      height: 3px;
      width: 50%;
      position: absolute;
      bottom: -3px;
      right: 0; }

section.important-news aside {
  border-radius: 12px;
  border: 1px solid #eee;
  overflow: hidden;
  color: #464646; }
  section.important-news aside .panel {
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0; }
    section.important-news aside .panel:last-child {
      border-bottom: none; }
    section.important-news aside .panel .panel-heading {
      background-color: #fff;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 0;
      cursor: pointer; }
      section.important-news aside .panel .panel-heading:hover, section.important-news aside .panel .panel-heading:focus,
      section.important-news aside .panel .panel-heading a[aria-expanded="true"] {
        background-color: #efce47 !important; }
      section.important-news aside .panel .panel-heading a {
        color: #464646 !important; }
  section.important-news aside .panel + .panel {
    margin-top: 0; }
  section.important-news aside .panel-title {
    margin: 0;
    position: relative;
    font-size: 15px; }
    section.important-news aside .panel-title a {
      color: #464646;
      width: 100%;
      display: inline-block;
      padding: 15px 10px; }
    section.important-news aside .panel-title i {
      font-size: 18px;
      margin-left: 10px;
      width: 22px;
      color: #4b893f; }
    section.important-news aside .panel-title .direction {
      position: absolute;
      left: 0;
      top: 28%; }
  section.important-news aside .panel-body {
    background-color: #fff; }
  section.important-news aside .panel-group {
    margin-bottom: 0; }
    section.important-news aside .panel-group ul {
      margin-bottom: 0; }
    section.important-news aside .panel-group .list-group-item {
      border: none;
      background-color: #fff; }
      section.important-news aside .panel-group .list-group-item a:hover, section.important-news aside .panel-group .list-group-item a:focus {
        color: #4b893f; }

.slider-show {
  height: 378px;
  overflow: hidden; }
  .slider-show .item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 378px; }
    .slider-show .item .caption {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5), #000000, #000);
      background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5), #000000, #000);
      background: -ms-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5), #000000, #000);
      background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5), #000000, #000);
      overflow: hidden;
      width: 100%;
      padding: 10px 5px;
      color: white;
      font-size: 15px; }
      .slider-show .item .caption p {
        margin: 0;
        line-height: 1.5;
        color: #eee; }
  .slider-show .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%; }

.titles {
  border-radius: 25px;
  border: 1px solid #eee;
  overflow: hidden;
  color: #464646;
  box-shadow: 0 2px 5px #bbbba73d;
  margin-bottom: 0;
  background-color: #fff; }
  .titles .list-group-item {
    border: none;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    margin-bottom: 0;
    background-color: #fff; }
    .titles .list-group-item:hover {
      background-color: #efce47; }
    .titles .list-group-item i {
      color: #464646; }
  .titles .thumb {
    border-radius: 28px;
    width: 73px;
    height: 73px;
    float: right;
    display: inline;
    margin-left: 10px; }
  .titles p {
    display: inline;
    height: 46px;
    overflow: hidden; }
  .titles span {
    display: block;
    margin-top: 13px; }
    .titles span i {
      margin-left: 5px;
      font-size: 16px; }

.important-news .next {
  display: block;
  width: 100%;
  padding: 10px 70px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 15px;
  background-color: #f4f4f4; }

.remain {
  -webkit-background-image: url("../images/remain-bg.png");
  -moz-background-image: url("../images/remain-bg.png");
  -o-background-image: url("../images/remain-bg.png");
  background-image: url("../images/remain-bg.png");
  border-radius: 15px;
  overflow: hidden;
  background-position: bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  font-size: 20px; }
  .remain .overlay {
    background-color: rgba(124, 172, 64, 0.9);
    padding: 30px 0; }
  .remain .remain-btn {
    background-color: #fff;
    border-radius: 8px;
    color: #efce47;
    padding: 5px 40px;
    font-size: 15px;
    margin: 0 10px; }

.videos {
  position: relative; }
  .videos .owl-carousel {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 385px; }
    .videos .owl-carousel .item {
      height: 385px; }
    .videos .owl-carousel iframe, .videos .owl-carousel .owl-item {
      height: 100%;
      width: 100%; }
  .videos .controls {
    position: relative; }
    .videos .controls ul li {
      border-radius: 12px;
      border: 1px solid #eee;
      -webkit-box-shadow: 0px 0px 11px -8px #322f2f80;
      -moz-box-shadow: 0px 0px 11px -8px #322f2f80;
      -o-box-shadow: 0px 0px 11px -8px #322f2f80;
      box-shadow: 0px 0px 11px -8px #322f2f80;
      margin: 0 0 15px;
      overflow: hidden;
      height: 85px;
      text-align: right;
      background-color: #fff; }
      .videos .controls ul li img {
        float: right;
        width: 200px;
        height: auto;
        margin-left: 20px; }
    .videos .controls p {
      padding: 10px 10px;
      font-size: 15px;
      color: #000;
      line-height: 30px;
      margin: 0;
      margin-left: 10px; }
    .videos .controls i {
      position: absolute;
      color: #fff;
      top: 32%;
      left: 2%;
      font-size: 30px; }


    
footer {
  background-color: #4b893f;
  padding: 40px 0 0;
  color: #fff; }

footer h5 {
  font-size: 16px; }

footer ul {
  margin-bottom: 50px; }

footer ul li {
  line-height: 2;
  font-size: 13px; }

footer p i {
  margin-left: 5px; }

footer .social {
  display: inline-block; }

footer .social li {
  float: right;
  margin-left: 5px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center; }

footer .social li a {
  color: #4b893f;
  font-size: 19px; }

footer .map-container {
  width: 200px;
  overflow: hidden; }

footer .copyright {
  background-color: #fff;
  color: #4b893f;
  padding: 10px 0; }
  footer .copyright p {
    margin-bottom: 0; }


@media (min-width: 992px) and (max-width: 1199px) {
  .videos .controls ul li img {
    width: 150px; }
  .videos .controls ul p {
    padding: 15px 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  footer .about p {
    padding: 0 25%; }

  .slider-show .item {
    height: 335px; } }
@media screen and (max-width: 767px) {
  .top-header ul {
    display: inline-block; }

  .top-header ul li {
    margin: 5px 10px; }

  .top-header .social {
    display: block;
    text-align: center; }
    .top-header .social li {
      float: none;
      display: inline-block; }

  .logo .list-inline li {
    margin: 10px 10px;
    display: block; }

  footer ul li {
    width: 50%;
    float: right; }

  .navbar-nav {
    padding: 5px 0;
    z-index: 2;
    position: relative; }

  .navbar-nav .icofont-rounded-down {
    float: left; }

  .navbar-nav > li > a {
    max-width: unset; }

  .slider-show {
    margin: 20px 0;
    height: auto; }
    .slider-show .item {
      height: 250px; }

  .remain .overlay {
    padding: 20px 10px;
    font-size: 18px; }

  .remain .remain-btn {
    margin: 10px 10px 0;
    display: inline-block; }

  footer .about p {
    padding: 0 18%; }

  .videos .owl-carousel,
  .videos .owl-carousel .item {
    height: 250px; }

  .videos .controls ul li img {
    width: 25%;
    height: 100%; }

  .videos .controls ul li {
    height: 75px; }

  .videos .controls ul li p {
    padding: 10px 5px;
    font-size: 14px; }

  footer .links li {
    width: 50%; } }
.video .navigation {
  padding: 25px 0;
  margin-bottom: 0;
  position: relative; }

@media screen and (max-width: 991px) {
  .video .navigation {
    margin-bottom: 15px; } }
.video .navigation li img {
  float: right;
  height: 100px;
  width: 140px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10px; }

.video .navigation, .video .owl-carousel {
  border-radius: 8px;
  border: 1px solid #eee;
  overflow: hidden; }

.video .owl-carousel {
  background-color: #000; }

.video .owl-carousel .item {
  height: 405px; }

.video .navigation li {
  padding: 8px 10px;
  overflow: hidden;
  border-bottom: 1px solid #eee; }

.video .navigation li:last-child {
  border-bottom: none; }

.video .navigation li p {
  font-size: 15px;
  height: 45px;
  overflow: hidden;
  margin: 1px 0 2px; }

.video .navigation li span {
  display: block;
  color: #959595; }

.video .navigation .icofont {
  float: right;
  width: 20px;
  font-size: 16px;
  line-height: 1.3; }

.photo .navigation li {
  width: 48%;
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  height: 175px;
  margin-left: 4%;
  margin-bottom: 10px;
  position: relative; }

.photo .navigation li:nth-child(2),
.photo .navigation li:last-child {
  margin-left: 0; }

.photo .navigation li img {
  width: 100%;
  height: 175px; }

.photo .navigation li p {
  position: absolute;
  bottom: 8px;
  font-size: 17px;
  width: 100%;
  color: #fff;
  text-align: center; }

.photo .owl-carousel .item q {
  font-size: 17px;
  margin: 5px 0;
  display: inline-block; }

.photo .owl-carousel .item img {
  border-radius: 8px;
  height: 360px; }

.description {
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff; }

.description h4 {
  border-bottom: 1px solid #eee;
  padding: 3px 15px 13px; }

.description h4 i {
  color: #565633;
  font-size: 24px;
  margin-left: 5px; }

.description .paragraphs {
  padding: 5px 15px 10px;
  color: #5c5c5c;
  font-size: 15px;
  line-height: 1.9; }

.account .card {
  margin: 65px 0 0;
  position: relative; }

.account .card .avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
  width: 90px;
  position: absolute;
  top: -45px;
  right: 20px; }

.account .card .avatar img {
  width: 100%;
  height: 100%; }

.account .card .info {
  border: 1px solid #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  padding: 50px 20px 10px;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 11px -8px #322f2f80;
  -moz-box-shadow: 0px 0px 11px -8px #322f2f80;
  -o-box-shadow: 0px 0px 11px -8px #322f2f80;
  box-shadow: 0px 0px 11px -8px #322f2f80; }

.account .card label,
.account .card strong {
  font-weight: normal; }

.account .card label {
  margin-right: 5px;
  font-size: 14px; }

.sent {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 11px -8px #322f2f80;
  -moz-box-shadow: 0px 0px 11px -8px #322f2f80;
  -o-box-shadow: 0px 0px 11px -8px #322f2f80;
  box-shadow: 0px 0px 11px -8px #322f2f80;
  color: #fff;
  padding: 50px 10px;
  margin: 50px 20%; }

.sent img {
  height: 100px;
  width: 100px;
  margin-bottom: 15px; }

.sent h4 {
  font-size: 22px; }

.sent label {
  margin-right: 5px; }

.sent strong {
  font-size: 24px; }

.sent p {
  color: #ed2024;
  margin-top: 10px; }

@media screen and (max-width: 991px) {
  .sent {
    margin: 50px 10%; } }
@media screen and (max-width: 768px) {
  .sent {
    margin: 30px 5%; } }
.partners form {
  margin-bottom: 50px; }

.partners .panel {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 11px -8px #322f2f80;
  -moz-box-shadow: 0 0 11px -8px #322f2f80;
  -o-box-shadow: 0 0 11px -8px #322f2f80;
  box-shadow: 0 0 11px -8px #322f2f80;
  margin: 20px 0 30px;
  background-color: #fff; }

.partners .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #4b893f; }

.partners .panel-heading i {
  font-size: 19px;
  margin-left: 5px; }

.partners form .choose-image {
  position: relative;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer; }

.partners form .choose-image input {
  width: 100%;
  margin: auto;
  height: 100%;
  opacity: 0;
  z-index: 1;
  position: relative;
  cursor: pointer; }

.partners .choose-image label {
  position: absolute;
  top: 0;
  font-size: 50px;
  color: #b5b5b5;
  left: 0;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.partners .choose-image label, .partners .choose-image img {
  width: 100%;
  height: 100%; }

.partners form p {
  margin: 10px 0;
  color: #464646;
  text-align: right; }

.partners form .form-control,
.check-order form .form-control {
  border-radius: 30px;
  height: 44px;
  padding-right: 15px;
  border-color: #eee;
  color: #464646;
  margin: 10px 0; }

.partners form .choose-file {
  position: relative;
  border-radius: 30px;
  height: 44px;
  border: 1px solid #eee;
  color: #999;
  margin: 10px 0; }

.partners form .choose-file input {
  width: 100%;
  margin: 0;
  opacity: 0; }

.partners form .choose-file label {
  position: absolute;
  top: 10px;
  right: 15px; }

.partners form .choose-file i {
  left: 15px;
  position: absolute;
  top: 10px;
  font-size: 20px;
  color: #fff; }

.partners form .plus {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #eee;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  outline: unset;
  padding: 0px 9px;
  color: #999;
  font-size: 16px;
  margin: 14px 0;
  height: 36px;
  float: right; }

.ads {
  height: 260px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden; }

.ads img {
  width: 100%;
  height: 100%; }

.store-card {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
  border: none;
  color: #464646;
  position: relative;
  height: 400px;
  margin: 20px 0 40px;
  background-color: #f4f4f4; }

.store-card img {
  width: 100%;
  height: 200px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px; }

.store-card h4 {
  font-size: 15px; }

.store-card p {
  color: #777;
  font-size: 14px; }

.store-card .price {
  display: block;
  font-size: 17px; }

.store-card strong {
  font-size: 15px;
  margin: 10px auto;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0 4px 20px #f7f7f7;
  padding: 10px 22px;
  font-weight: normal; }

@media screen and (max-width: 768px) {
  .ads {
    height: 160px; } }
.store-details {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
  border: none;
  color: #464646;
  margin: 20px 0 40px; }

.store-details img {
  width: 100%;
  height: 200px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px; }

.store-details .info {
  padding: 10px 20px; }

.store-details h4 {
  font-size: 15px; }

.store-details p {
  font-size: 14px; }

.store-details .price {
  display: block;
  font-size: 17px; }

.store-details strong {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
  display: inline-block; }

.donate .panel-default > .panel-heading {
  background-color: #f1d35b;
  padding: 15px; }

.donate .panel-default > .panel-heading a {
  display: block;
  width: 100%; }

.store-form {
  margin-bottom: 20px;
  overflow: hidden; }

.store-form .h4 {
  padding-right: 0; }

.store-form .form-control {
  border-radius: 30px;
  height: 44px;
  padding-right: 15px;
  border-color: #eee;
  color: #464646;
  margin: 10px 0; }

.replies {
  width: 550px;
  margin: 0 auto;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 11px -8px #322f2f80;
  -moz-box-shadow: 0px 0px 11px -8px #322f2f80;
  -o-box-shadow: 0px 0px 11px -8px #322f2f80;
  box-shadow: 0px 0px 11px -8px #322f2f80;
  padding: 10px 0 10px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #eee; }

.reply {
  position: relative;
  border-bottom: 1px solid #f9f8f8;
  overflow: hidden;
  padding: 10px 10px 0; }

.col-xs-12:last-of-type .reply {
  border-bottom: none; }

.reply img {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: right; }

.reply .text {
  float: left;
  text-align: right;
  width: calc(550px - 90px); }

.reply .text h4 {
  font-size: 16px;
  color: #fff;
  margin-top: 0; }

.reply .text p {
  color: #777;
  font-size: 13px; }

.reply .text .time {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #a2a2a2;
  font-size: 11px; }

.reply .text .time i {
  font-size: 14px; }

.check-order form {
  width: 500px;
  margin: 0 auto; }

@media screen and (max-width: 767px) {
  .replies, .check-order form {
    width: 95%; }

  .reply .text {
    width: calc(95% - 50px); } }
.list-news .thumb {
  width: 200px;
  height: 120px;
  border-radius: 10px; }

.partners form textarea {
  resize: unset;
  padding-top: 10px;
  height: 150px !important; }

.bottom-header i {
  color: #fff; }

footer .image {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  height: 230px; }

footer .image img {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  footer .image {
    margin-top: 20px; } }
.owl-carousel .item iframe {
  height: 100%;
  width: 100%; }

.description {
  margin-bottom: 10px; }
  .description i {
    color: #4b893f;
    margin-left: 5px; }

